@media only screen and (max-width: 1000px) { 
.results {
    display:none
}

#smallresults {
    display:flex
}
}

@media only screen and (min-width: 1000px) { 
    .results {
        display:flex;
    }

    #smallresults {
    display:none;}
}